Personal/
NdsFiles/RipholesInRubbish(5-28-09).nds 
NdsFiles/RubbishS3.nds
TestProjects/
.svn/
*.mov
Resources/gfx2gba/
Resources/Gif2Frames/
Resources/efs.exe
Resources/riphole.mov
Resources/Ripholes_finalpresentation_winter09.ppt
Ripholes/
sprites/
tools/